.shopping {
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -3.5rem;
  z-index: 10;
  width: 40rem;
  background-color: #fff;
  box-shadow: 0 0.8rem 5rem 2rem rgba($color-grey-dark-1, 0.1);

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;

  &__list {
    list-style: none;
    max-height: 40rem;
    overflow-y: scroll;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    padding: 1.3rem 0;
    border-bottom: 1px solid #f2efee;
    position: relative;
  }

  &__count {
    flex: 0 0 7.5rem;
    padding: 0.4rem 0.5rem;
    border: 1px solid #f2efee;
    border-radius: 3px;
    margin-right: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    input {
      color: inherit;
      font-family: inherit;
      font-size: 1.2rem;
      text-align: center;
      border: none;
      width: 3.7rem;
      border-radius: 3px;

      &:focus {
        outline: none;
        background-color: #f2efee;
      }
    }

    p {
      font-size: 1.2rem;
    }
  }

  &__description {
    flex: 1;
    font-size: 1.3rem;
    margin-top: 0.4rem;
    margin-right: 1.5rem;
  }

  &__delete {
    margin-top: 0.5rem;
    position: absolute;
    right: 0;
    background-image: linear-gradient(
      to right,
      transparent 0%,
      #fff 40%,
      #fff 100%
    );
    width: 3.75rem;
    padding-left: 2rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }

  &__item:hover &__delete {
    opacity: 1;
    visibility: visible;
  }

  &:hover,
  .nav__btn--shopping:hover + & {
    visibility: visible;
    opacity: 1;
  }
}
